@font-face {
  font-family: 'desyrelregular';
  src: url('/assets/fonts/desyrel-webfont.eot');
  src: url('/assets/fonts/desyrel-webfont.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/desyrel-webfont.woff') format('woff'),
       url('/assets/fonts/desyrel-webfont.ttf') format('truetype'),
       url('/assets/fonts/desyrel-webfont.svg#desyrelregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'museo_slab_500regular';
  src: url('/assets/fonts/museo_slab_500-webfont.eot');
  src: url('/assets/fonts/museo_slab_500-webfont.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/museo_slab_500-webfont.woff') format('woff'),
       url('/assets/fonts/museo_slab_500-webfont.ttf') format('truetype'),
       url('/assets/fonts/museo_slab_500-webfont.svg#museo_slab_500regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
a {
  font-weight: normal;
}
.entries_form label {
  display: block;
  font-size: 18px;
  margin-top: 10px;
}
.admin {
  position: absolute;
  right: 20px;
  top: 30px;
}

.flash_error,
.flash_alert {
  background-color: #ffcfcf;
  border: 2px solid red;
  margin: 10px 0;
  padding: 10px;
}

.flash_success {
  background-color: #bcffb0;
  border: 2px solid #4be42c;
  margin: 10px 0;
  padding: 10px;
}

.post-preview {
  margin-left: -20px;
  position: absolute;
  top: 53px;
  width: 100%;
  z-index: -1;
}

.archives {
  text-align: center;
}
.archives ul {
  list-style: none;
  padding: 0;
}

body {
  background-image: url(/assets/images/cream_dust.png);
  color: #555;
  font-family: museo_slab_500regular;
  font-size: 14px;
  margin: 20px;
  text-shadow: 1px 1px 0px #fff;
}
.logo {
  font-family: desyrelregular;
  font-size: 26px;
  letter-spacing: -1px;
}
.logo a {
  color: inherit;
  text-decoration: none;
}
blockquote {
  font-size: 24px;
  margin: 50px auto;
  max-width: 488px;
  text-align: center;
}
blockquote footer {
  color: #999;
  font-size: 18px;
  padding-top: 4px;
  text-align: right;
}
.subscription {
  margin: 0 auto 20px;
  max-width: 500px;
}
.subscription hr {
  border: none;
  border-bottom: 1px dotted #ccc;
  margin: 20px 0;
}
.subscription label {
  display: block;
}
.subscription input {
  border-radius: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 12px;
}
.subscription input[type=text] {
  padding: 10px;
  width: 70%;
}
.subscription input[type=submit] {
  -webkit-appearance: none;
  border: none;
  color: #fff;
  padding: 12px;
  text-shadow: 1px 1px 1px #000;
  width: 30%;
}
.subscription input[type=submit]:hover {
  cursor: pointer;
}
.floating-footer footer {
  float: left;
  margin: 20px 0;
  width: 50%;
}
.floating-footer footer {
  color: #bababa;
}
.floating-footer .byline {
  text-align: right;
}
footer a {
  color: inherit;
  text-decoration: none;
}

@media (max-width: 550px) {
  .logo {
    text-align: center;
  }
  .admin {
    margin-top: 10px;
    position: static;
    text-align: center;
  }
  .floating-footer footer,
  .floating-footer .byline {
    margin: 0 0 10px;
    text-align: center;
    width: 100%;
  }
}