a {
	color: #003399;
	background-color: transparent;
	font-weight: normal;
}
.entries_form label {
  display: block;
  font-size: 18px;
  margin-top: 10px;
}

/* Karissa */
@font-face {
    font-family: 'desyrelregular';
    src: url('/assets/fonts/desyrel-webfont.eot');
    src: url('/assets/fonts/desyrel-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/desyrel-webfont.woff') format('woff'),
         url('/assets/fonts/desyrel-webfont.ttf') format('truetype'),
         url('/assets/fonts/desyrel-webfont.svg#desyrelregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'museo_slab_500regular';
    src: url('/assets/fonts/museo_slab_500-webfont.eot');
    src: url('/assets/fonts/museo_slab_500-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/museo_slab_500-webfont.woff') format('woff'),
         url('/assets/fonts/museo_slab_500-webfont.ttf') format('truetype'),
         url('/assets/fonts/museo_slab_500-webfont.svg#museo_slab_500regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
body {
  background-image: url(/assets/images/cream_dust.png);
  color: #555;
  font-family: museo_slab_500regular;
  font-size: 14px;
  margin: 20px;
  text-shadow: 1px 1px 0px #fff;
}
.logo {
  color: #678a93;
  font-family: desyrelregular;
  font-size: 26px;
  letter-spacing: -1px;
}
blockquote {
  font-size: 24px;
  margin: 50px auto;
  max-width: 488px;
  text-align: center;
}
blockquote footer {
  color: #666;
  font-size: 18px;
  padding-top: 4px;
  text-align: right;
}
footer {
  color: #bababa;
  text-align: right;
}
footer a {
  color: #bababa;
  text-decoration: none;
}
footer a:hover {
  color: #678a93;
}